<style>
#a {position: absolute; 
right:10px;
 top:10px;
}
#d{
background-color: tomato ;}
	
	table {border :5px solid #663300;}
#e{Font-family : Verdana;Color : blue;}
a:hover {font-size :30;}

	</style>
	
	